 .d-flex {
   display: flex;
 }

 .flex-justify-center {
   @extend .d-flex;
   justify-content: center;
 }

 .flex-align-center {
   @extend .d-flex;
   align-items: center;
 }

 .flex-justify-between {
   @extend .d-flex;
   justify-content: space-between;
 }

 .text-center {
   text-align: center;
 }