@import '_common';
@import '_svgs';
@import '_header';

* {
  margin: 0;
  padding: 0;
}

.app {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100%;
  max-width: 100vw;
  background-size: cover;
  display: grid;
  grid-template-rows: 50px auto;
  background-image: url("../../assets/sun-tornado.svg");
}





.menu-buttons {
  svg {
    cursor: pointer;
  }
  width: 80px;
  justify-content: space-between;
  display: flex;
  justify-self: flex-end;
  grid-column: 3;
  padding-right: 2vw;
}

.menu-list {
  top: 49px;
  background-color: rgba(245, 245, 245, 0.86);
  border: 1px solid map-get($palettePrimary, dark);
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 20px;
  right: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr 1fr 1fr auto;
  grid-row-gap: 2px;
}

.menu-item {
  display: flex!important;
  padding: 3px 3px 3px 10px!important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightslategray;
  &:hover {
    background-color: rgb(245, 245, 245);
  }
}

.last-menu-item {
  border-bottom: none;
  border-bottom-left-radius: 20px;
}

.share-block {
  top: 49px;
  background-color: rgba(245, 245, 245, 0.86);
  padding-top: 10px;
  border: 1px solid map-get($palettePrimary, dark);
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 20px;
  right: 0;
  position: fixed;
  display: grid;
  grid-template-rows: min-content auto;
}

.share-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}



.content {
  position: relative;
  display: grid;
  grid-template-rows: max-content 70vh;
  grid-template-columns: 45vw 45vw;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 0 20px 0 20px;
  @include for-mobile-any-and-laptop-portrait {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    &_list-opened {
      justify-content: flex-end;
    }
  }
}
.search-container {
  position: relative;
}
.text-search-field {
  max-height: 48px;
  @include tablet-landscape-or-desktop {
    grid-row: 1;
  }
}

.suggestion-list {
  position: absolute!important;
  @include for-mobile-any-and-laptop-portrait {
    width: 100%;
  }
}

.collapsed {
  overflow: hidden;
  height: 0!important;
}

.weather {
  height: calc(100% - 98px);
  display: grid;
  flex-direction: column;
  grid-template-rows: min-content auto;
  @include tablet-landscape-or-desktop {
    height: 100%;
    grid-row: 2;
    grid-column: 1;
  }
}

.places-block {
  @include tablet-landscape-or-desktop {
    grid-row: 2;
    grid-column: 2;
  }
}

.places-list {
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 1vh;
  height: 70vh;
  overflow: hidden !important;
  @include for-mobile-any-and-laptop-portrait {
    height: 65vh;
    grid-row: 2;
    grid-column: 2;
  }
}

.place-header {
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-row-gap: 0;
  color: white;
  padding: 10px 20px 10px 20px;
  grid-template-columns: repeat(5, 1fr);
  @include for-mobile-landscape {
    grid-template-rows: min-content min-content;
  }
  @include for-device-portrait {
    grid-template-rows: auto auto;
  }
  @include for-mobile-any {
    padding: 0 10px 0 10px;
  }
}

.place-title {
  grid-column: 1 / 3;
  @include for-mobile-any-and-laptop-portrait {
    grid-column: 1 / 5;
  }
  cursor: pointer;
  grid-row: 1;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60vw;
}

.place-header-weather {
  display: grid;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  grid-template-columns: 100% auto;
  @include for-device-portrait {
    justify-content: flex-end;
    grid-column: 5;
    grid-row: 2;
    grid-template-columns: 40px auto;
  }
  @include for-mobile-landscape {
    justify-content: flex-end;
    grid-row: 1 / 3;
    grid-column: 4;
    grid-template-columns: 40px auto;
  }
}

.place-subtitle {
  grid-column: 1 / 5;
  grid-row: 2;
  color: map-get($paletteSecondary, contrastText);
}

.place-controls {
  padding-top: 3px;
  height: 20px;
  grid-column: 5;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  @include for-device-portrait {
    grid-column: 5;
    grid-row: 1;
  }
}

.icon {
  cursor: pointer;
  height: 100%;
}

.weather-block {
  flex: auto;
  padding: 30px;
  background: map-get($palettePrimary, ultralight);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1vmin;
  display: grid;
  @include for-mobile-any-and-laptop-portrait {
    padding: 10px;
    grid-gap: 10px;
  }
}

.loading-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.weather-item {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-auto-columns: 100%;
  background-color: rgba(249, 249, 249, 0.4) !important;
  padding: 5% 0 5% 0;
  align-items: center;
  justify-content: center;
  @include for-mobile-landscape {
    padding: 0 40px 0 40px;
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 100% 100%;
  }
  .weather-title {
    width: inherit;
    text-align: center;
    @include for-mobile-landscape {
      font-size: 1rem;
      line-height: 1;
    }
  }
  .weather-legend {
    color: rgba(0, 0, 0, 0.5);
  }
}

.expandable-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(126, 188, 89, 0.4);
  width: 100vw;
  height: 50px;
  @include tablet-landscape-or-desktop {
    visibility: hidden;
    &:hover {
      background-color: map-get($palettePrimary, ultralight);
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

.wib-image {
  height: 100%;
}

.weather-temperature-text {
  @include tablet-landscape-or-desktop {
    margin-left: -20px!important;
  }
}

.border-b {
  border-bottom: 1px solid;
}

.clickable-item {
  cursor: pointer;
}

.info-container {
  padding: 0 10px 5px 10px;
  position: fixed;
  margin: 50px 0 0 20px;
}

.error-text {
  color: map-get($palettePrimary, error)!important;
}

a {
  text-decoration: none;
}

.spinner-main {
  width: 40px;
  height: 40px;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}