@import 'variables';

.svg-background {
  height: 100%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
}

.loading {
  background-image: url("../../assets/three-dots.svg");
  width: 100%;
}

.social-icon {
  padding-left: 30px;
  height: 30px;
  width: 30px;
}

.user-icon {
  background-image: url("../../assets/user.svg");
}

.github-icon {
  background-image: url("../../assets/github.svg");
}

.linkedin-icon {
  height: 28px;
  width: 28px;
  background-image: url("../../assets/in.png");
}

.upwork-icon {
  background-image: url("../../assets/upwork.svg");
}

.share-icon {
  justify-self: center;
}

.basic-icon {
  path{
    fill: powderblue;
  }
}

.favorite-icon {
  path:hover{
    fill: #ED8A19;
  }
  &_active {
    path{
      fill:#ED8A19;
    }
      path:hover{
        fill: #ededeb;
      }
  }
}

.favorite-icon-mobile {
  &_active {
    path{
      fill:#ED8A19;
    }
  }
}

.close {
  margin-left: 5px;
  &_desktop {
    path:hover{
      fill:#e76e54;
    }
  }
}

.header-button {
  margin-left: 5px;
  &_desktop {
    cursor: pointer;
    path:hover{
      fill: map-get($palettePrimary, main);
    }
  }
}

.daycloud0 {
  background-image: url("../../assets/weather_icons/daycloud0.svg");
}
.daycloud1 {
  background-image: url("../../assets/weather_icons/daycloud1.svg");
}
.daycloud2 {
  background-image: url("../../assets/weather_icons/daycloud2.svg");
}
.daycloud3 {
  background-image: url("../../assets/weather_icons/daycloud3.svg");
}
.daycloud4 {
  background-image: url("../../assets/weather_icons/daycloud4.svg");
}

.dayrain1 {
  background-image: url("../../assets/weather_icons/dayrain1.svg");
}
.dayrain2 {
  background-image: url("../../assets/weather_icons/dayrain2.svg");
}
.dayrain3 {
  background-image: url("../../assets/weather_icons/dayrain3.svg");
}
.dayrain4 {
  background-image: url("../../assets/weather_icons/dayrain4.svg");
}

.daysnow1 {
  background-image: url("../../assets/weather_icons/daysnow1.svg");
}
.daysnow2 {
  background-image: url("../../assets/weather_icons/daysnow2.svg");
}
.daysnow3 {
  background-image: url("../../assets/weather_icons/daysnow3.svg");
}

.nightcloud0 {
  background-image: url("../../assets/weather_icons/nightcloud0.svg");
}
.nightcloud1 {
  background-image: url("../../assets/weather_icons/nightcloud1.svg");
}
.nightcloud2 {
  background-image: url("../../assets/weather_icons/nightcloud2.svg");
}
.nightcloud3 {
  background-image: url("../../assets/weather_icons/nightcloud3.svg");
}
.nightcloud4 {
  background-image: url("../../assets/weather_icons/nightcloud4.svg");
}

.nightrain1 {
  background-image: url("../../assets/weather_icons/nightrain1.svg");
}
.nightrain2 {
  background-image: url("../../assets/weather_icons/nightrain2.svg");
}
.nightrain3 {
  background-image: url("../../assets/weather_icons/nightrain3.svg");
}
.nightrain4 {
  background-image: url("../../assets/weather_icons/nightrain4.svg");
}

.nightsnow1 {
  background-image: url("../../assets/weather_icons/nightsnow1.svg");
}
.nightsnow2 {
  background-image: url("../../assets/weather_icons/nightsnow2.svg");
}
.nightsnow3 {
  background-image: url("../../assets/weather_icons/nightsnow3.svg");
}


.humidity {
  background-image: url("../../assets/weather_icons/humidity.svg");
}
.wind {
  background-image: url("../../assets/weather_icons/wind.svg");
}
.temperature {
  background-image: url("../../assets/weather_icons/temperature.svg");
}