@import 'variables';
@import 'svgs';

* {
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url('../assets/background.png');
  opacity: 0.1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 130vh;
  width: 100vw;
}

.app {
  height: 100%;
  max-height: 100%;
  max-width: 100vw;
  background: url('../assets/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-rows: 7% 93%;
}

.header {
  width: 100vw;
  z-index: 999;
  align-items: center;
  display: grid;
  grid-template-columns: max-content auto max-content;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.header-legend {
  display: flex;
  align-items: baseline;
}

.menu-buttons {
  width: 80px;
  justify-content: space-between;
  display: flex;
  justify-self: flex-end;
  grid-column: 3;
  padding-right: 2vw;
}

.menu-list {
  top: 7vh;
  background-color: rgba(245, 245, 245, 0.86);
  border: 1px solid map-get($palettePrimary, dark);
  border-bottom-left-radius: 20px;
  right: 0;
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 1fr 1fr 1fr auto;
  grid-row-gap: 2px;
}

.menu-item {
  display: flex!important;
  padding: 3px 3px 3px 10px!important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightslategray;
  &:hover {
    background-color: rgb(245, 245, 245);
  }
}

.last-menu-item {
  border-bottom: none;
  border-bottom-left-radius: 20px;
}

.share-block {
  top: 7vh;
  background-color: rgba(245, 245, 245, 0.86);
  border: 1px solid map-get($palettePrimary, dark);
  border-bottom-left-radius: 20px;
  right: 0;
  position: fixed;
  display: grid;
  grid-template-rows: min-content auto;
}

.share-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.header-text {
  margin: 0 0 0 5vmin!important;
  font-size: 3vh!important;
  @include for-mobile-landscape {
    font-size: 4vh!important;
  }
  @include for-mobile-portrait {
    margin: 0 0 0 3vmin!important;
    font-size: 2vh!important;
  }
}

.header-subtext {
  font-size: 2vh!important;
  @include for-mobile-landscape {
    font-size: 3vh!important;
  }
  @include for-mobile-portrait {
    font-size: 1.5vh!important;
  }
}



.content {
  display: grid;
  grid-template-rows: max-content 70vh;
  grid-template-columns: 45vw 45vw;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 0 20px 0 20px;
  @include for-mobile-any-and-laptop-portrait {
    display: grid;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    &_list-opened {
      display: grid;
      padding: 0;
      grid-template-columns: auto;
      grid-template-rows: min-content 0 min-content;
    }
  }
}

.wr-text-search-field {
  max-height: 48px;
  @include tablet-landscape-or-desktop {
    grid-row: 1;
  }
}

.suggestion-list {
  padding-top: 43px!important;
  @include tablet-landscape-or-desktop {
    padding-left: 43px!important;
  }
  position: fixed!important;
}

.list-opened {
  grid-template-rows: 0 0 max-content;
}

.collapsed {
  overflow: hidden;
  height: 0!important;
}

.weather {
  display: grid;
  flex-direction: column;
  background: map-get($palettePrimary, ultralight);
  grid-template-rows: min-content auto;
  @include tablet-landscape-or-desktop {
    grid-row: 2;
    grid-column: 1;
  }
}

.places-block {
  @include tablet-landscape-or-desktop {
    grid-row: 2;
    grid-column: 2;
  }
}

.places-list-mobile {
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 1vh;
  overflow-x: scroll;
  height: 65vh;
}

.places-list-desktop {
  height: 70vh;
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 1vh;
  overflow-x: scroll;
}

.place-header {
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-row-gap: 0;
  color: white;
  padding: 10px 20px 10px 20px;
  grid-template-columns: repeat(5, 1fr);
  @include for-mobile-landscape {
    grid-template-rows: min-content min-content;
  }
  @include for-device-portrait {
    grid-template-rows: auto auto;
  }
  @include for-mobile-any {
    padding: 0 10px 0 10px;
  }
}

.place-title {
  grid-column: 1 / 3;
  @include for-mobile-any-and-laptop-portrait {
    grid-column: 1 / 5;
  }
  cursor: pointer;
  grid-row: 1;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60vw;
}

.place-header-weather {
  display: grid;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  grid-template-columns: 100% auto;
  @include for-device-portrait {
    justify-content: end;
    grid-column: 5;
    grid-row: 2;
    grid-template-columns: 40px auto;
  }
  @include for-mobile-landscape {
    justify-content: end;
    grid-row: 1 / 3;
    grid-column: 4;
    grid-template-columns: 40px auto;
  }

}

.place-subtitle {
  grid-column: 1 / 5;
  grid-row: 2;
  color: map-get($paletteSecondary, contrastText);
}

.place-controls {
  padding-top: 3px;
  height: 20px;
  grid-column: 5;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
  @include for-device-portrait {
    grid-column: 5;
    grid-row: 1;
  }
}

.weather-icon {
  cursor: pointer;
  height: 100%;
}

.weather-block {
  flex: auto;
  padding: 30px;
  @include for-mobile-any {
    padding: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  display: grid;
}

.weather-item {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-auto-columns: 100%;
  background-color: rgba(249, 249, 249, 0.4) !important;
  padding: 5% 0 5% 0;
  align-items: center;
  justify-content: center;
  @include for-mobile-landscape {
    padding: 0 40px 0 40px;
    grid-template-columns: 25% 40% 25%;
    grid-template-rows: 100% 100%;
  }
  .weather-title {
    width: inherit;
    text-align: center;
    @include for-mobile-landscape {
      font-size: 1rem;
      line-height: 1;
    }
  }
  .weather-legend {
    color: rgba(0, 0, 0, 0.5);
  }
}


.expandable-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(126, 188, 89, 0.4);
  width: 100vw;
  @include tablet-landscape-or-desktop {
    visibility: hidden;
    &:hover {
      background-color: map-get($palettePrimary, ultralight);
    }
  }
}

.expand-button-on-top {
  max-height: 32px;
}

.rotate {
  transform: rotate(180deg);
}

.wib-image {
  height: 100%;
}

.weather-temperature-text {
  @include tablet-landscape-or-desktop {
    margin-left: -20px!important;
  }
}

.border-b {
  border-bottom: 1px solid;
}

.clickable-item {
  cursor: pointer;
}

.info-container {
  padding: 0 10px 5px 10px;
  position: fixed;
  margin: 50px 0 0 20px;
}

.error-text {
  color: map-get($palettePrimary, error)!important;
}

a {
  text-decoration: none;
}